<h2>Colleges</h2>
<div>
  <mat-form-field>
    <input matInput [(ngModel)]="searchTerm" placeholder="Search colleges">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="searchColleges()">Search</button>
</div>
<mat-list>
  <mat-list-item *ngFor="let college of colleges">
    {{college.name}} - {{college.location}}
    <a mat-button [routerLink]="['/colleges', college.id]">View Programs</a>
    <button mat-button color="accent" (click)="addToMyList(college)">Add to My List</button>
  </mat-list-item>
</mat-list>
<mat-paginator [length]="totalItems"
               [pageSize]="pageSize"
               [pageSizeOptions]="[5, 10, 20]"
               (page)="onPageChange($event)">
</mat-paginator>
